@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  padding: 50px 120px;
}

nav {
    display: inline-block; 
    width: 100%;
}

nav > h1 {
    float: left;
}

nav > button {
    float: right;
    border: 1px solid #CED4DA;
    border-radius: 100px;
    padding: 12px 24px;
    margin: 0.67em 0;
    background-color: white;
}

.selectors {
    border: 1px solid #c8c7d3;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #25204f;
    margin: 0 10px 0 0;
    padding: 10px 12px 10px 16px;
    flex-direction: row;
    align-items: flex-start;
    width: 215px;
}

#rule_selector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px 10px 16px;

    width: 461px;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 8px;
}

.button {
    background: #CA5252;
    border-radius: 100px;
    color: #fff;
    padding: 10px 30px;
    border: none;
    font-weight: 700;
    margin: 60px 0px;
    font-size: 1.1rem;
    transition: .2s ease-in!important;

}

/* Displays for grids */

@media all and (min-width: 426px){
  .grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
} 

/* Screens 425 and smaller */
@media all and (max-width: 425px){
  .grid-container {
    display: grid;
    grid-gap: 20px;
  }

  /*
  .grid-container-other-article {
    display: grid;
    grid-gap: 20px;
  }

  .grid-container-other-article > p {
    min-width: 320px;
  }
  */
}




  .button-group {
    display: block;
    cursor: pointer;
    width: 460px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }
  
  .accordeon-group {
    padding-left: 20px;
  }
  
  .accordeon-group .button-group {
    width: 100%;
  }
  
  .button-group[depth="-1"] {
    color: green;
  }
  
  .hide {
    display: none;
  }

  #diff_text,  #new_text, #old_text {
    background: #F6F6F6;
    border-radius: 8px;
    padding: 30px;
  }

  #statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #statistics > div {
    background: #F6F6F6;
    border-radius: 8px;
    padding: 30px;
  }

  #about_body {
    
  }