<html>
    <head>

        <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'diff.js') }}" ></script>
         <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
         <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
         <meta name="viewport" content="width=320, initial-scale=1" />
        </head>
    <body>
        <nav>
            <h1>Capitol Differ</h1>
            <button onclick="location.href = 'https://house-rules-differ.onrender.com';" >
                <strong>Home</strong>
            </button>
        </nav>
        <article id = "about_body">
            <h3>Using Technology to Analyze Change in the Rules of the U.S. House of Representatives Over Time             </h3>

            <p>
                Under Article I of the Constitution, the House of Representatives and Senate are granted broad discretion to establish “the Rules of Its Proceedings.” While the Senate is a continuing body with continuing rules, the House of Representatives updates its rules at the beginning of a new Congress. The current Rules of the House of Representatives span more than 1,500 pages. But the rules package, which is passed at the beginning of a new Congress, includes important changes to how the chamber approaches legislation and conducts other business. 
            </p>

            <p>
                Traditionally, understanding how House Rules change over time is the work of academics, the Congressional Research Service, and other experts who have studied House Rules packages for decades and understand how changes affect the legislative body’s workings. But the American people deserve to better understand how the House of Representatives works, particularly given the growing bipartisan recognition of the importance of modernizing Congress. 
            </p>

            <p>
                Lincoln Network created this website to allow users to study and compare changes in House Rules over time. The site allows users to track changes of the text of different rules from the 109th to 117th Congress. 
                More will be added as House Rules Manuals get transcribed.
            </p>

            <p>
                If you have questions or would like to provide feedback, please contact schonanderl@joinlincoln.org.
            </p>

        </article>

    </body>
</html>