<html>
    <head>

        <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'diff.js') }}" ></script>
         <script src="{{url_for('static', filename='distance.js')}}"></script>
         <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
         <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
         <meta name="viewport" content="width=320, initial-scale=1" />

    </head>
    <body>
        <nav>
            <img src="{{url_for('static', filename='logo_eagle-clear.png')}}" id="logo">
            <h1 id="title">RulesCompare</h1>
            <button onclick="location.href = 'https://capitoldiffer.com/about';" >
                <strong>About</strong>
            </button>
        </nav>
        <nav>
          <h2>A Research Tool to Compare Versions of the Rules of the US House of Representatives</h2>
        </nav>
        <article class="grid-container">
            <div class = "text_box_padding">
                <h3>Select Congresses to compare</h3>

                <select name="congress_1" id="congress_1" class = "selectors" onchange="changeInCongress()">
                    <option disabled selected value> -- select an option -- </option>
                    {% for c in Congress_List %}
                        <option value={{c}}>{{c + " Congress"}}</option>
                    {% endfor %}
                </select>

                <select name="congress_2" id="congress_2" class = "selectors" onchange="changeInCongress()">
                    <option disabled selected value> -- select an option -- </option>
                    {% for c in Congress_List %}
                        <option value={{c}}>{{c + " Congress"}}</option>
                    {% endfor %}
                </select>
                
               </br>
               </br>

                <h3>Select the rules</h4>
                  <select name="congress_rules_1" id="congress_rules_1" class = "selectors">
                     <option disabled selected value> -- select an option for the first rule -- </option>
                  </select>

                  <select name="congress_rules_2" id="congress_rules_2" class = "selectors">
                     <option disabled selected value> -- select an option for the second rule -- </option>
                  </select>

               </br>
               </br>

                <button class="button" id="compare_button">Compare</button>
            <div id="loading" class="loading"></div>
               

            </div>
            <div id="statistics">
                <div>
                    <h3><span id="speaker_now_header"> 118th</span> Congress</h3>
                    <p>Speaker: <span id="speaker_now">Kevin McCarthy (R)</span></p>

                    
                    <p>Minority Leader: <span id="minority_leader_current">Hakeem Jeffries (D)</span></p>
                    <p>Years: <span id="current_years">2023-2025</span></p>

                    <p>Democratic Seats: <span id="current_seats_d">216</span></p>
                    <p>Republican Seats: <span id="current_seats_r">222</span></p>
                    <p style="
                    font-style: italic;
                    color: #7d7f7c;"><small><small>Seats reflect the start of the Congress.</small></small></p>
               
                  </div>
                <div>
                    <h3><span id="speaker_then_header"> 117th </span> Congress</h3>
                    <p>Speaker: <span id="speaker_then">Nancy Pelosi (D)</span></p>
                    <p>House Majority: <span id="previous_party">Democratic</span></p>

                    <p>Minority Leader: <span id="minority_leader_previous">Kevin McCarthy (R)</span></p>
                    <p>Years: <span id="previous_years">2021-2023</span></p>

                    <p>Democratic Seats: <span id="previous_seats_d">222</span></p>
                    <p>Republican Seats: <span id="previous_seats_r">211</span></p>

                    <p style="
                     font-style: italic;
                     color: #7d7f7c;"><small><small>Seats reflect the start of the Congress.</small></small></p>

                </div>

            

        
            </div>

            <div class = "text_box_padding rules_box">

                
                

                <div id = "explain_box">
                    <strong>RulesCompare</strong> allows you to cross-compare the text of specific rules across House rules packages.  To use the tool, select the Congresses you’d like to compare. Then, in the drop-down menu, select the specific rule you’d like to  study. Click “Compare,” and the comparison will appear below.


             
                </br>
                </br>  

                Additional features let you do the following: disable the diff, enable a gpt generated explanation of rules changes, and selection between comparing full rules and subsections of the rules.

               </br>
               </br>

                <i>
                    *Because of the rules consolidation between the 105th and 106th Congresses, 
                    it is not suggested to compare pre- and post-105th rules. Be wary if you decide to do so.
                </i>

                </div>
              
                
            </div>
            
        
        </article>

        <article class = "grid-container-diffs">
         <div>
            <h3>Legend</h3>
            <p style="color: green; font-weight: 900;">This is text that was added.</p>
            <p style="color: red; text-decoration: line-through;">This is text that was removed.</p>
         </div>

         <div>
            <h3>Diff statistics</h3>
            <p>Words Added: <span id="words_added"></span></p>
            <p>Words Removed: <span id = "words_removed"></span></p>
            <p>Percent Similar: <span id = "words_similar"></span></p>
         </div>

         <div>
            <h3>Experimental Features</h3>

            <button id="title_button" class="button_smaller rule_flip_button_click" onclick="changeInCongress()" >Enable selecting specific titles</button>
            <button id="gpt_button" class="button_smaller" >Enable GPT</button>
            <button id="diff_disable_button" class="button_smaller" >Disable diff</button>

            <p style="
            font-style: italic;
            color: #7d7f7c;"><small><small>Diff and GPT explanations may cause load delays.</small></small></p>
         </div>

         <div>
            <h3 class="gpt-exp gpt-hide">GPT 3 Generated Explanation of Changes</h3>
            <p class="gpt-exp gpt-hide" id="gpt_text">
         </div>

        </article>

        <article class = "grid-container-diffs">

            <div>
               <h3>The difference between the rules</h3>
               <p id="diff_text"></p>
            </div>
            <div>
               <h3>The rule for the <span id="rule_change_first_congress"></span> Congress</h3>
               <p id="old_text"></p>
            </div>
            <div>
               <h3>The rule for the <span id="rule_change_second_congress"></span> Congress</h3>
               <p id="new_text"></p>
            </div>

        </article>

        <script>
        
        /* for the selects */
        document.addEventListener("DOMContentLoaded", function() {
            let select1 = document.getElementById('congress_1');
            let select2 = document.getElementById('congress_2');

            select1.addEventListener('change', function() {
                adjustSelectOptions(select1, select2);
            });

            select2.addEventListener('change', function() {
                adjustSelectOptions(select2, select1);
            });
        });

        function adjustSelectOptions(changedSelect, otherSelect) {
            // Reset disabled options first
            let otherOptions = otherSelect.options;
            for(let i = 0; i < otherOptions.length; i++) {
                otherOptions[i].disabled = false;
            }

            // Disable the selected option in the other dropdown
            let selectedIndex = changedSelect.selectedIndex;
            if (selectedIndex > 0) {  // Avoid the default "Choose..." option
                otherSelect.options[selectedIndex].disabled = true;
            }
        }
        
        /* rules */
        
   

   let long = 0;
   let rule_age = 0;
   let diff_disabled = 0;
   let first_selected = 0;
   const congresses_with_party = [
        {Congress: "118th", Party: "Republican", Speaker: "Kevin McCarthy (R) / Patrick McHenry (R) (pro tempore) / Mike Johnson (R)", Minority_Leader: "Hakeem Jeffries (D)", Years: "2023–2025", Democratic_Seats: "212", Republican_Seats: "222"},
        {Congress: "117th", Party: "Democratic", Speaker: "Nancy Pelosi (D)", Minority_Leader: "Kevin McCarthy (R)", Years: "2021–2023", Democratic_Seats: "222", Republican_Seats: "211"},
        {Congress: "116th", Party: "Democratic", Speaker: "Nancy Pelosi (D)", Minority_Leader: "Kevin McCarthy (R)", Years: "2019–2021", Democratic_Seats: "235", Republican_Seats: "199"},
        {Congress: "115th", Party: "Republican", Speaker: "Paul Ryan (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2017–2019", Democratic_Seats: "194", Republican_Seats: "241"},
        {Congress: "114th", Party: "Republican", Speaker: "Paul Ryan (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2015–2017", Democratic_Seats: "188", Republican_Seats: "247"},
        {Congress: "113th", Party: "Republican", Speaker: "John Boehner (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2013–2015", Democratic_Seats: "200", Republican_Seats: "233"},
        {Congress: "112th", Party: "Republican", Speaker: "John Boehner (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2011-2013", Democratic_Seats: "193", Republican_Seats: "242"},
        {Congress: "111th", Party: "Democratic", Speaker: "Nancy Pelosi (D)", Minority_Leader: "John Boehner (R)", Years: "2009–2011", Democratic_Seats: "235", Republican_Seats: "198"},
        {Congress: "110th", Party: "Democratic", Speaker: "Nancy Pelosi (D)", Minority_Leader: "John Boehner (R)", Years: "2007–2009", Democratic_Seats: "233", Republican_Seats: "202"},
        {Congress: "109th", Party: "Republican", Speaker: "John Dennis Hastert (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2005–2007", Democratic_Seats: "201", Republican_Seats: "232"},
        {Congress: "108th", Party: "Republican", Speaker: "John Dennis Hastert (R)", Minority_Leader: "Nancy Pelosi (D)", Years: "2003–2005", Democratic_Seats: "204", Republican_Seats: "223"},
        {Congress: "107th", Party: "Republican", Speaker: "John Dennis Hastert (R)", Minority_Leader: "Richard Andrew Gephardt (D)", Years: "2001–2003", Democratic_Seats: "211", Republican_Seats: "221"},
        {Congress: "106th", Party: "Republican", Speaker: "John Dennis Hastert (R)", Minority_Leader: "Richard Andrew Gephardt (D)", Years: "1999–2001", Democratic_Seats: "211", Republican_Seats: "223"},
        {Congress: "105th", Party: "Republican", Speaker: "Newt Gingrich (R)", Minority_Leader: "Richard Andrew Gephardt (D)", Years: "1997–1999", Democratic_Seats: "207", Republican_Seats: "226"},
        {Congress: "104th", Party: "Republican", Speaker: "Newt Gingrich (R)", Minority_Leader: "Richard Andrew Gephardt (D)", Years: "1995–1997", Democratic_Seats: "204", Republican_Seats: "230"},
        {Congress: "103rd", Party: "Democratic", Speaker: "Tom Foley (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1993–1995", Democratic_Seats: "258", Republican_Seats: "176"},
        {Congress: "102nd", Party: "Democratic", Speaker: "Tom Foley (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1991–1993", Democratic_Seats: "267", Republican_Seats: "167"},
        {Congress: "101st", Party: "Democratic", Speaker: "Tom Foley (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1989–1991", Democratic_Seats: "259", Republican_Seats: "174"},
        {Congress: "100th", Party: "Democratic", Speaker: "Jim Wright (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1987–1989", Democratic_Seats: "258", Republican_Seats: "177"},
        {Congress: "99th", Party: "Democratic", Speaker: "Tip O'Neill (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1985–1987", Democratic_Seats: "252", Republican_Seats: "181"},
        {Congress: "98th", Party: "Democratic", Speaker: "Tip O'Neill (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1983–1985", Democratic_Seats: "269", Republican_Seats: "164"},
        {Congress: "97th", Party: "Democratic", Speaker: "Tip O'Neill (D)", Minority_Leader: "Robert Henry Michel (R)", Years: "1981–1983", Democratic_Seats: "243", Republican_Seats: "191"},
        {Congress: "96th", Party: "Democratic", Speaker: "Tip O'Neill (D)", Minority_Leader: "John Jacob Rhodes (R)", Years: "1979–1981", Democratic_Seats: "276", Republican_Seats: "156"},
        {Congress: "95th", Party: "Democratic", Speaker: "Tip O'Neill (D)", Minority_Leader: "John Jacob Rhodes (R)", Years: "1977–1979", Democratic_Seats: "292", Republican_Seats: "143"},
        {Congress: "94th", Party: "Democratic", Speaker: "Carl Albert (D)", Minority_Leader: "John Jacob Rhodes (R)", Years: "1975–1977", Democratic_Seats: "291", Republican_Seats: "144"},
        {Congress: "93rd", Party: "Democratic", Speaker: "Carl Albert (D)", Minority_Leader: "Gerald Ford (R)", Years: "1973–1975", Democratic_Seats: "241", Republican_Seats: "192"},
        {Congress: "92nd", Party: "Democratic", Speaker: "Carl Albert (D)", Minority_Leader: "Gerald Ford (R)", Years: "1971–1973", Democratic_Seats: "254", Republican_Seats: "180"},
        {Congress: "91st", Party: "Democratic", Speaker: "John W. McCormack (D)" , Minority_Leader: "Gerald Ford (R)", Years: "1969–1971", Democratic_Seats: "243", Republican_Seats: "192"},
        {Congress: "90th", Party: "Democratic", Speaker: "John W. McCormack (D)" , Minority_Leader: "Gerald Ford (R)", Years: "1967–1969", Democratic_Seats: "248", Republican_Seats: "187"},
        {Congress: "89th", Party: "Democratic", Speaker: "John W. McCormack (D)" , Minority_Leader: "Gerald Ford (R)", Years: "1965–1967", Democratic_Seats: "295", Republican_Seats: "140"},
        {Congress: "88th", Party: "Democratic", Speaker: "John W. McCormack (D)" , Minority_Leader: "Charles Abraham Halleck (R)", Years: "1963–1965", Democratic_Seats: "258", Republican_Seats: "176"},
        {Congress: "87th", Party: "Democratic", Speaker: "John W. McCormack (D)" , Minority_Leader: "Charles Abraham Halleck (R)", Years: "1961–1963", Democratic_Seats: "263", Republican_Seats: "174"},
        {Congress: "86th", Party: "Democratic", Speaker: "Sam Rayburn(D)", Minority_Leader: "Charles Abraham Halleck (R)", Years: "1959–1961", Democratic_Seats: "282", Republican_Seats: "153"},
        {Congress: "85th", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr (R)", Years: "1957–1959", Democratic_Seats: "233", Republican_Seats: "200"},
        {Congress: "84th", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr (R)", Years: "1955–1957", Democratic_Seats: "231", Republican_Seats: "203"},
        {Congress: "83rd", Party: "Republican", Speaker: "Joseph W. Martin Jr (R)", Minority_Leader: "Sam Rayburn(D)", Years: "1953–1955", Democratic_Seats: "211", Republican_Seats: "221"},
        {Congress: "82nd", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr", Years: "1951–1953", Democratic_Seats: "235", Republican_Seats: "168"},
        {Congress: "81st", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr", Years: "1949–1951", Democratic_Seats: "262", Republican_Seats: "171"},
        {Congress: "80th", Party: "Republican", Speaker: "Joseph W. Martin Jr (R)", Minority_Leader: "Sam Rayburn (D)", Years: "1947–1949", Democratic_Seats: "245", Republican_Seats: "187"},
        {Congress: "79th", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr (R)", Years: "1945–1947", Democratic_Seats: "242", Republican_Seats: "190"},
        {Congress: "78th", Party: "Democratic", Speaker: "Sam Rayburn (D)", Minority_Leader: "Joseph W. Martin Jr (R)", Years: "1943–1945", Democratic_Seats: "254", Republican_Seats: "165"},
            ]
    
    // Flip between old and new ones    
    function flip_rules(){
        console.log("Flipping rules")
        let rule_flip_button = document.getElementById("rule_flip")

        console.log(rule_flip_button.innerHTML)
        if(rule_flip_button.innerHTML === "Switch to pre-105th Congress Rules"){
            rule_age = 1

            // remove element here
            // document.getElementById("rule_selector").remove()
            rule_flip_button.style.background = "teal"


            rule_flip_button.innerHTML = "Switch to post-105th Congress Rules"
            // document.querySelector(".rules_box").appendChild(select_nested_older)

        } else if(rule_flip_button.innerHTML === "Switch to post-105th Congress Rules"){
            rule_age = 0
            // remove element here
            // document.getElementById("rule_selector").remove()
            rule_flip_button.style.background = "#CA5252"

            rule_flip_button.innerHTML = "Switch to pre-105th Congress Rules"
            // document.querySelector(".rules_box").appendChild(select_nested)

        }
    }
    const toggleButton = document.getElementById('title_button');
    toggleButton.addEventListener('click', async function() {
            const hiddenOptions = document.querySelectorAll('.hidden-option');
            
            if(toggleButton.style.background === "#CA5252" || toggleButton.style.background === "" || toggleButton.style.background === 'rgb(202, 82, 82)'){
                toggleButton.innerHTML = "Disable selecting specific titles"
                toggleButton.style.background = "teal"
                long = 1;
                
               // Flip the rules to the long ones
               
            } else {
                toggleButton.innerHTML = "Enable selecting specific titles"
                toggleButton.style.background = "#CA5252"
                long = 0;
                
            }

            hiddenOptions.forEach(option => {
                if (option.classList.contains('hidden')) {
                    option.classList.remove('hidden');
                } else {
                    option.classList.add('hidden');
                }
            });
        });
   const diff_button = document.getElementById('diff_disable_button');
   diff_button.addEventListener('click', function(){

      if(diff_button.style.background === "#CA5252" || diff_button.style.background === "" || diff_button.style.background === 'rgb(202, 82, 82)'){
               diff_button.innerHTML = "Enable Diff"
               diff_button.style.background = "teal"
               diff_disabled = 1;
            } else {
               diff_button.innerHTML = "Disable diff"
               diff_button.style.background = "#CA5252"
               diff_disabled = 0;
                
            }

   })
    // Hide/Reveal rules
    document.addEventListener("DOMContentLoaded", function() {


        const gpt_button = document.getElementById('gpt_button');
        gpt_button.addEventListener('click', function() {
            const gpt_hidden_elements = document.querySelectorAll('.gpt-exp');
            console.log(gpt_hidden_elements)
            if(gpt_button.style.background === "#CA5252" || gpt_button.style.background === "" || gpt_button.style.background === 'rgb(202, 82, 82)'){
                gpt_button.innerHTML = "Disable GPT"
                gpt_button.style.background = "teal"
            } else {
                gpt_button.innerHTML = "Enable GPT"
                gpt_button.style.background = "#CA5252"
                
            }

            gpt_hidden_elements.forEach(option => {
                if (option.classList.contains('gpt-hide')) {
                    option.classList.remove('gpt-hide');
                } else {
                    option.classList.add('gpt-hide');
                }
            });

        });

    });

    // GPT button

            
    async function changeInCongress(){

      

        first_year = document.getElementById('congress_1')
        second_year = document.getElementById('congress_2')
        let congress_first = {}
        let congress_second = {}
        if(first_year.value === ''){
            congress_first = congresses_with_party[0]
        } else {
            congress_first = congresses_with_party.filter(d => d.Congress == first_year.value)[0]
        }


        if(second_year.value === ''){
            congress_second = congresses_with_party[1]
        } else {
            congress_second = congresses_with_party.filter(d => d.Congress == second_year.value)[0]
        }
        

        let speaker_now_element = document.getElementById("speaker_now")
        let speaker_then_element = document.getElementById("speaker_then")

        speaker_now_element.innerHTML = congress_first.Speaker
        speaker_then_element.innerHTML = congress_second.Speaker

        let speaker_now_header_element = document.getElementById("speaker_now_header")
        let speaker_then_header_element = document.getElementById("speaker_then_header")

        speaker_now_header_element.innerHTML = congress_first.Congress
        speaker_then_header_element.innerHTML = congress_second.Congress

        let rule_change_first_congress_element = document.getElementById("rule_change_first_congress")
        let rule_change_second_congress_element = document.getElementById("rule_change_second_congress")

        rule_change_first_congress_element.innerHTML = congress_first.Congress
        rule_change_second_congress_element.innerHTML = congress_second.Congress


        // Minority
        let house_minority_now = document.getElementById("minority_leader_current")
        let house_minority_then = document.getElementById("minority_leader_previous")

        house_minority_now.innerHTML = congress_first.Minority_Leader
        house_minority_then.innerHTML = congress_second.Minority_Leader

        // Years

        let house_year_now = document.getElementById("current_years")
        let house_year_then = document.getElementById("previous_years")

        house_year_now.innerHTML = congress_first.Years
        house_year_then.innerHTML = congress_second.Years

        // Democratic Seats
        let dem_seats_now = document.getElementById("current_seats_d")
        let dem_seats_then = document.getElementById("previous_seats_d")

        dem_seats_now.innerHTML = congress_first.Democratic_Seats
        dem_seats_then.innerHTML = congress_second.Democratic_Seats

        // Republican Seats

        let rep_seats_now = document.getElementById("current_seats_r")
        let rep_seats_then = document.getElementById("previous_seats_r")

        rep_seats_now.innerHTML = congress_first.Republican_Seats
        rep_seats_then.innerHTML = congress_second.Republican_Seats

        // Updating the lists

        let congressional_rules_first = await fetch(`/api/generate_lists?congress=${congress_first.Congress}`)  
        let congressional_rules_second = await fetch(`/api/generate_lists?congress=${congress_second.Congress}`)          
        
        obj_1 = await congressional_rules_first.json();
        obj_2 = await congressional_rules_second.json();
        // console.log(obj_1)
        // console.log(long)

        // Use the "long" function to generate the lists to be compared...
        // Hmm, how to set up the schema...
        const rule_select_one = document.getElementById('congress_rules_1');
        const rule_select_two = document.getElementById('congress_rules_2');
        
        rule_select_one.innerHTML = "-- select an option for the first rule --"
        rule_select_two.innerHTML = "-- select an option for the first rule --"


        if (long === 0){

         let short_rules_one = obj_1.short_rules

         for (let groupName in short_rules_one) {
            //var optgroup = document.createElement("optgroup");
            // optgroup.label = groupName;
            
            for (var i = 0; i < short_rules_one[groupName].length; i++) {
               var option = document.createElement("option");
               option.value = short_rules_one[groupName][i];
               option.text = short_rules_one[groupName][i];
               // optgroup.appendChild(option);
               if(i == short_rules_one[groupName].length - 1){
                     option.value = short_rules_one[groupName][i];
                     option.text = groupName;
               } else {
                     option.value = short_rules_one[groupName][i];
                     option.text = short_rules_one[groupName][i];
                     option.setAttribute('class', 'hidden-option hidden')
               }
               rule_select_one.appendChild(option);
            }
            
         }

         // For the second set of rules
         let short_rules_two = obj_2.short_rules

         for (let groupName in short_rules_two) {
            // var optgroup = document.createElement("optgroup");
            // optgroup.label = groupName;
            
            for (var i = 0; i < short_rules_two[groupName].length; i++) {
               var option = document.createElement("option");
               option.value = short_rules_two[groupName][i];
               option.text = short_rules_two[groupName][i];
               //optgroup.appendChild(option);
               if(i == short_rules_two[groupName].length - 1){
                     option.value = short_rules_two[groupName][i];
                     option.text = groupName;
               } else {
                     option.value = short_rules_two[groupName][i];
                     option.text = short_rules_two[groupName][i];
                     option.setAttribute('class', 'hidden-option hidden')
               }
               rule_select_two.appendChild(option);  
            }
         }

         if(first_selected === 0){
            first_selected = 1; 
            let newOption = document.createElement("option");
            newOption.text = "-- select an option for the first rule --"
            newOption.value = "-- select an option for the first rule --"
            newOption.disabled = true;
            rule_select_one.add(newOption);
            newOption.selected = true;

            let newOption_2 = document.createElement("option");
            newOption_2.text = "-- select an option for the first rule --"
            newOption_2.value = "-- select an option for the first rule --"
            newOption_2.disabled = true;
            rule_select_two.add(newOption_2);
            newOption_2.selected = true;
         }
        
        } else {
         // Long rules when long === 1
         let long_rules_one = obj_1.long_rules
         for (let groupName in long_rules_one) {
            var optgroup = document.createElement("optgroup");
            optgroup.label = groupName;
            
            for (var i = 0; i < long_rules_one[groupName].length; i++) {
               var option = document.createElement("option");
               option.value = long_rules_one[groupName][i];
               option.text = long_rules_one[groupName][i];
               optgroup.appendChild(option);
               if(i == long_rules_one[groupName].length - 1){
                     option.value = long_rules_one[groupName][i];
                     option.text = groupName;
               } else {
                  option.value = long_rules_one[groupName][i];
                  option.text = long_rules_one[groupName][i];
                  option.setAttribute('class', 'hidden-option hidden')
               }
      
            }
            rule_select_one.appendChild(optgroup);

         }

         // For the second set of rules
         let long_rules_two = obj_2.long_rules
         for (let groupName in long_rules_two) {
            var optgroup = document.createElement("optgroup");
            optgroup.label = groupName;
            
            for (var i = 0; i < long_rules_two[groupName].length; i++) {
               var option = document.createElement("option");
               option.value = long_rules_two[groupName][i];
               option.text = long_rules_two[groupName][i];
               optgroup.appendChild(option);
               if(i == long_rules_two[groupName].length - 1){
                     option.value = long_rules_two[groupName][i];
                     option.text = groupName;
               } else {
                  option.value = long_rules_two[groupName][i];
                  option.text = long_rules_two[groupName][i];
                  option.setAttribute('class', 'hidden-option hidden')
               }
      
            }
            rule_select_two.appendChild(optgroup);

         }

         if(first_selected === 0){
            first_selected = 1; 
            let newOption = document.createElement("option");
            newOption.text = "-- select an option for the first rule --"
            newOption.value = "-- select an option for the first rule --"
            newOption.disabled = true;
            rule_select_one.add(newOption);
            newOption.selected = true;

            let newOption_2 = document.createElement("option");
            newOption_2.text = "-- select an option for the first rule --"
            newOption_2.value = "-- select an option for the first rule --"
            newOption_2.disabled = true;
            rule_select_two.add(newOption_2);
            newOption_2.selected = true;
         }

        }
      
    }
    // Need a event handler for the selects as well
    // So that changing the individual ones also ... works
   const rule_select_one = document.getElementById('congress_rules_1');
   const rule_select_two = document.getElementById('congress_rules_2');

   rule_select_one.addEventListener('change', async function(){
      document.getElementById("old_text").innerHTML = ''
      first_year = document.getElementById('congress_1')
      const rule_select_one = document.getElementById('congress_rules_1');
      const rule_select_two = document.getElementById('congress_rules_2');
      res_1 = await fetch(`/api?congress=${first_year.value}&title=${rule_select_one.value}`)   
      obj_1 = await res_1.json();       
      document.getElementById("old_text").innerHTML = obj_1.Result + "<br>" + "<p>Download rules <a href='https://docs.google.com/spreadsheets/d/1tsAftegH7GbDDhECCSoyAr2o5JNSUhkVwE-sCQEcELs/edit#gid=0'>here</a>.</p>" 
      console.log(rule_select_one.value)
      for (var i of rule_select_two) {
         if (i.value === rule_select_one.value) {
            i.selected = true;
            break;
         }
      }
     
   })

   rule_select_two.addEventListener('change', async function(){
      document.getElementById("new_text").innerHTML = ''
      second_year = document.getElementById('congress_2')
      const rule_select_two = document.getElementById('congress_rules_2');
      res_2 = await fetch(`/api?congress=${second_year.value}&title=${rule_select_two.value}`)   
      obj_2 = await res_2.json();       
      document.getElementById("new_text").innerHTML = obj_2.Result + "<br>" + "<p>Download rules <a href='https://docs.google.com/spreadsheets/d/1tsAftegH7GbDDhECCSoyAr2o5JNSUhkVwE-sCQEcELs/edit#gid=0'>here</a>.</p>" 
   })


        async function generateDiff(){
                const gpt_button = document.getElementById("gpt_button")                

                first_year = document.getElementById('congress_1')
                second_year = document.getElementById('congress_2')
                
                first_rule = document.getElementById('rules_1')
                // first_rule_new = document.getElementById("rule_selector").value

                const rule_select_one = document.getElementById('congress_rules_1');
                const rule_select_two = document.getElementById('congress_rules_2');
                

                if (first_year.value !== second_year.value){
                  console.log(first_year.value)
                  console.log(second_year.value)
                  console.log(rule_select_one.value)
                  console.log(rule_select_two.value)
                    res_1 = await fetch(`/api?congress=${first_year.value}&title=${rule_select_one.value}`)          
                    res_2 = await fetch(`/api?congress=${second_year.value}&title=${rule_select_two.value}`)

                    if (res_1.status === 200 && res_2.status === 200){

                        obj_1 = await res_1.json();
                        obj_2 = await res_2.json();

                        document.getElementById("new_text").innerHTML = obj_1.Result + "<br>" + "<p>Download rules <a href='https://docs.google.com/spreadsheets/d/1tsAftegH7GbDDhECCSoyAr2o5JNSUhkVwE-sCQEcELs/edit#gid=0'>here</a>.</p>" 
                        document.getElementById("old_text").innerHTML = obj_2.Result + "<br>" + "<p>Download rules <a href='https://docs.google.com/spreadsheets/d/1tsAftegH7GbDDhECCSoyAr2o5JNSUhkVwE-sCQEcELs/edit#gid=0'>here</a>.</p>" 
                        // console.log(diff_disabled)
                        if (diff_disabled === 0){
                           const diff = JsDiff.diffWordsWithSpace(obj_1.Result, obj_2.Result)
                           // console.log(diff)
                           const display = document.getElementById('diff_text');
                           display.innerHTML = '';
                           const fragment = document.createDocumentFragment();
                           let words_added = 0;
                           let words_removed = 0;
                           diff.forEach((part) => {
                                 // green for additions, red for deletions
                                 // grey for common parts

                                 // bold for new. Strike out for old

                                 // console.log(part.added)
                                 // console.log(part.removed)

                                 const size = part.added ? '900' : '400' // style.fontWeight
                                 const underline = part.removed ? 'line-through': 'none'  // style.textDecoration

                                 const color = part.added ? 'green' :
                                    part.removed ? 'red' : 'grey';
                              
                                 
                                 if (part.added === true){
                                    words_added += part.count;
                                 } else if (part.removed === true){
                                    words_removed += part.count; 
                                 }

                                 span = document.createElement('span');
                                 span.style.color = color;
                                 span.style.fontWeight = size;
                                 span.style.textDecoration = underline;
                                 span.appendChild(document
                                    .createTextNode(part.value));
                                 fragment.appendChild(span);
                           });

                           const words_added_id = document.getElementById('words_added');
                           const words_removed_id = document.getElementById('words_removed');
                           const words_similar_id = document.getElementById('words_similar');
                           words_added_id.innerHTML = words_added
                           words_removed_id.innerHTML = words_removed
                           words_similar_id.innerHTML = Math.round(similarity(obj_1.Result, obj_2.Result) * 100) + "%";
                           

                           display.appendChild(fragment);
                        } else {
                           console.log("")
                           // document.getElementById("new_text").innerHTML = obj_1.Result
                           // Hmm what to do instead? But given the text won't generate, perhaps it's fine?
                        }

                     
                        // console.log(gpt_button.innerHTML)

                        if(gpt_button.innerHTML === "Disable GPT"){
                            const loadingDiv = document.getElementById('loading');
                            loadingDiv.style.display = 'block';

                            const data = {
                                old_rule: obj_1.Result,
                                new_rule: obj_2.Result,

                                congress_1: first_year.value,
                                congress_2: second_year.value,

                                rule_title: rule_select_one.value,
                            }

                            gpt_comparer_res = await fetch(`/api/openai`,
                                {   method: 'POST', 
                                    headers: {
                                    'Content-Type': 'application/json',
                                    // Add any other headers if required
                                }, body: JSON.stringify(data)}
                            )
                            gpt_comparer = await gpt_comparer_res.json()
                            document.getElementById("gpt_text").innerHTML = gpt_comparer.Result

                            loadingDiv.style.display = 'none';
                        }
                        
                } else {
                    alert("Rule does not exist in both years. Try different years")
                }
            } 

        }

        
        compare_button_id = document.getElementById('compare_button')
        compare_button_id.addEventListener("click", generateDiff);


            
                 
                
            

        </script>
</html>